# ===============================
# ASP.NET Core / .NET
# ===============================
bin/
obj/

# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Secrets & Environment configs
# ===============================
appsettings.Development.json

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
